* {
    margin: 0;
    padding: 0;
}

/* body {
    background-image: url('eldenBeast.jpg');
} */

.gameGrid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid black 1px;
    margin-top: 80px;
}

.block {
    width: 100px;
    height: 20px;
    background-color: blueviolet;
    position: absolute;
}

.player {
    width: 100px;
    height: 20px;
    background-color: rgb(203, 0, 0);
    position: absolute;
}

.ball {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(4, 169, 158);
    position: absolute;
}