* {
    margin: 0;
    padding: 0;
}

#scoreText {
    display: flex;
    color: #ffffff; font-family: 'Raleway',sans-serif; font-size: 22px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase;
    margin: 5vh;
}

body {
    display: flex;
    background-image: url('milkway.jpg');
    background-size: cover;
    justify-content: center;
}

.gameGrid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid black 1px;
    margin-top: 20vh;
    display: flex;
}

.block {
    width: 100px;
    height: 20px;
    background-color: blueviolet;
    position: absolute;
}

.player {
    width: 100px;
    height: 20px;
    background-color: rgb(203, 0, 0);
    position: absolute;
}

.ball {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(198, 224, 222);
    position: absolute;
}

@media only screen and (max-width: 800px) {
    body {
      display: flex;
      flex-wrap: wrap;
    }
  }